@font-face {
    font-family: Alibaba PuHuiTi;
    src: url("../../assets/fonts/AlibabaPuHuiTi-2-55-Regular.otf");
}

@font-face {
    font-family: Source Han Sans;
    src: url('../../assets/fonts/SourceHanSansSC-Normal-2.otf');
}
